



  <div class ="search">
  <% content_for :search do %>
    <div class="large-8 small-9 columns">
    <%= search_form_for @search do |f| %>
      <%= f.text_field :title_cont, class: "radius-left expand", placeholder: "Link" %>
    </div>
      <div class="large-4 small-3 columns">
        <%= f.submit "Search", class: "radius-right button" %>
      </div>
    <% end %>
  <% end %>
  </div>

<table class="linktable">
  <thead>
  <% @links.order(:cached_weighted_score => :desc).each do |link| %>
    <div class="link row clearfix">
      <h2>
        <%= link_to link.title, link, class: "linkTitle" %><br>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.username %></small>
      </h2>

      <div class="btn-group">
        <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
        <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
          <%= link.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down"></span>
          Downvote
          <%= link.get_downvotes.size %>
        <% end %>
      </div>
    </div>
  <% end %>
 

