
<div class="themeBox">
  <p>
  <strong class="themeLink"> <%= @link.title %></strong>
  </p>

  <p>
    <strong><a href=<%= @link.url %> class="linkShow">Visit</a></strong> 
  </p>

  <p>
    <strong>Theme:</strong>
    <%= link_to @link.theme.name, theme_path(@link.theme), :class => "linkShow" %>
  </p>

  <% if @link.user == current_user %>
  <%= link_to 'Edit', edit_link_path(@link), :class => "linkShow" %> |
  <% end %>
  <%= link_to 'Back', links_path, :class => "linkShow" %>
</div>

<h3 class="comments_title">
  <%= @link.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>
<%= simple_form_for [@link, Comment.new]  do |f| %>
<div class="field">
  <%= f.text_area :body, class: "form-control" %>
</div>
<br>
<%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>