<!DOCTYPE html>
<html>
<head>

  <title>LinkAggregatorProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
<header>
  <h1></h1>
</header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
<!--   <ul>
    <li><%#= link_to 'Home', links_path %></li>
    <li><%#= link_to 'Submit Link', new_link_path %></li>
    <li><%#= link_to 'Account', edit_user_registration_path %></li>
    <li><%#= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
    <li><%#= link_to 'New Theme', new_theme_path %></li>
  </ul> -->

  <div class="component">

    <!-- Start Nav Structure -->
    <button class="cn-button" id="cn-button">+</button>
    <div class="cn-wrapper" id="cn-wrapper">
        <ul>
          <li><a href="/themes/new"><span class="icon-picture"></span></a></li>
          <li><a href="/links/new"><span class="icon-headphones"></span></a></li>
          <li><a href="/links"><span class="icon-home"></span></a></li>
          <li><a href="/users/edit"><span class="icon-facetime-video"></span></a></li>
          <li><a href="/users/sign_out"><span class="icon-envelope-alt"></span></a></li>
         </ul>
    </div>
    <div id="cn-overlay" class="cn-overlay"></div>
    <!-- End Nav Structure -->
  </div>
  <% else %>
  <ul>
    <li><%= link_to 'Home', links_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
  </ul>
  <% end %>
  <%= yield %>
  <div class="missioncontrol">
  <h2 class="mission">Mission Control</h2>
  </div>
</body>



</html>
